@model PacotesTuristicos
@{
    ViewData["Title"] = "Cadastro de Pacote Turístico";
}

<form method="POST" asp-action="CadastroPacote">
    <p>
        <label asp-for="Nome">Nome do Pacote:</label>
        <input asp-for="Nome">
    </p>
    <p>
        <label asp-for="Origem">Origem:</label>
        <input asp-for="Origem">
    </p>
    <p>
        <label asp-for="Destino">Destino:</label>
        <input asp-for="Destino">
    </p>
    <p>
        <label asp-for="Atrativos">Atrativos:</label>
        <textarea asp-for="Atrativos"></textarea>
    </p>
    <p>
        <label asp-for="Saida">Data de Saída:</label>
        <input type="date" asp-for="Saida">
    </p>
    <p>
        <label asp-for="Retorno">Data de Retorno:</label>
        <input type="date" asp-for="Retorno">
    </p>
    <p>
        <label asp-for="Usuario">ID do Usuario:</label>
        <input type="number" asp-for="Usuario">
    </p>
    <p>
        <input id="enviarButton" type="submit" value="Cadastrar Pacote" data-usuario-valido="@ViewBag.UsuarioValido">
    </p>
</form>

<p>
    @ViewBag.Mensagem
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("Documento pronto.");
            
            var enviarButton = $("#enviarButton");
            var usuarioValido = @Json.Serialize(ViewBag.UsuarioValido);
            
            console.log("usuarioValido:", usuarioValido);

            if (!usuarioValido) {
                console.log("Disativando botão.");
                enviarButton.prop("disabled", false);
            }
        });
    </script>
}