@model List<PacotesTuristicos>
@{
    ViewData["Title"] = "Lista de Pacotes";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Origem</th>
            <th>Destino</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PacotesTuristicos pacote in Model)
        {
            <tr>
                <td>@pacote.IdPacotes</td>
                <td>@pacote.Nome</td>
                <td>@pacote.Origem</td>
                <td>@pacote.Destino</td>
                <td>
                    <a href="/PacotesTuristicos/EditarPacote?Id=@pacote.IdPacotes">Alterar</a>
                    <a href="/PacotesTuristicos/RemoverPacote?Id=@pacote.IdPacotes">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>